#wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    border: 1px solid black;
}

nav {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 50px;
    border: 1px solid black;
}

article:first-of-type {
    position: absolute;
    top: 140px;
    left: 0;
    width: 60%;
    border: 1px solid black;
}

article:nth-of-type(2) {
    position: absolute;
    top: 320px;
    left: 0;
    width: 60%;
    border: 1px solid black;
}

aside {
    position: absolute;
    top: 140px;
    right: 0;
    width: 35%;
    border: 1px solid black;
}
